<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    </head>

    <body>
        <div id="app">
            <div class="container">
                <div class="my-3">
                    <button
                        type="button"
                        class="btn btn-outline-secondary me-3"
                        @click="photoStatus = !photoStatus"
                        v-if="photoStatus"
                    >
                        模糊照片
                    </button>
                    <button
                        type="button"
                        class="btn btn-outline-secondary me-3"
                        @click="photoStatus = !photoStatus"
                        v-else="photoStatus"
                    >
                        清晰照片
                    </button>
                    <button type="button" class="btn btn-outline-secondary" @click="changePeople">刷新對象</button>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3 rounded" v-for="data in allData">
                        <div class="card h-100">
                            <div class="position-absolute" style="top: 20px; right: 20px">
                                <button type="button" class="btn btn-outline-danger rounded-pill" @click="data.favorite = !data.favorite">
                                    <i class="fas fa-heart" v-if="data.favorite"></i>
                                    <i class="bi bi-heart fs-5" v-else ></i>
                                </button>
                            </div>
                            <img :src="data.picture.large" class="card-img-top" v-if="photoStatus" />
                            <img :src="data.picture.thumbnail" class="card-img-top" v-else />
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ data.name.first }}(
                                    <span v-if="data.gender === 'male'"><i class="fas fa-mars"></i></span
                                    ><span v-else="data.gender === 'female'"><i class="fas fa-venus"></i></span> )
                                </h5>
                                <div class="row">
                                    <p class="card-text col-4 text-center"><a :href="data.email"><i class="fas fa-envelope"></i></a></p>
                                    <p class="card-text col-4 text-center"><a :href="`tel:${data.phone}`"><i class="fas fa-phone"></i></a></p>
                                    <p class="card-text col-4 text-center"><a :href="`tel:${data.cell}`"><i class="fas fa-mobile-alt"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
            crossorigin="anonymous"
        ></script>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://kit.fontawesome.com/de24f413c6.js" crossorigin="anonymous"></script>

        <script>
            Vue.createApp({
                data() {
                    return {
                        photoStatus : 'clear',
                        allData: [],
                        favorite:'',
                    };
                },
                methods: {
                    changePeople() {
                        axios.get("https://randomuser.me/api/?results=10")
                            .then((response) => {this.allData = response.data.results;
                            });
                    }
                },
                mounted() {       // vue會自動執行
                    this.changePeople();
                },
            }).mount("#app");

            console.log(results);
        </script>
    </body>
</html>
